.__btn_download_fans__ {
  height: 24px;
  width: 60px;
  margin-left: 6px;
  flex: none;
  font-size: 0;
  box-shadow: none;
}

.__download_fans_input__ {
  flex: 1;
  box-sizing: border-box;
  height: 24px;
  line-height: 24px;
  border: 1px solid #fb7299;
  color: #fb7299;
  font-size: 12px;
  padding: 0 4px;
}
