.__btn_download_fans__ {
  height: 24px;
  width: 60px;
  margin-left: 6px;
  flex: none;
  font-size: 0;
  box-shadow: none;
}

.__download_fans_input__ {
  flex: 1;
  box-sizing: border-box;
  height: 24px;
  line-height: 24px;
  border: 1px solid #fb7299;
  color: #fb7299;
  font-size: 12px;
  padding: 0 4px;
}

.__btn_download_fans__.__running__ {
  background: #ff85ad;
  cursor: pointer;
}

.__btn_download_fans__ .__loading__ {
  display: none;
}

.__btn_download_fans__ .__text__ {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.4;
  font-size: 12px;
}
.__btn_download_fans__.__running__ .__loading__ {
  display: inline-block;
}

.__btn_download_fans__.__running__ .__text__ {
  display: none;
}

.__btn_download_fans__:before {
  content: '';
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}
